:root {
    --bs-body-bg: #DBDBD3;
    --bs-top-bg: #029688;
}

a {
    text-decoration: none;
    color: black;
}

.light-grey {
    background-color: #EAEAEA;
}

.fs-sm {
    font-size: 10px;
}

.top-bg {
    height: 200px;
    background-color: var(--bs-top-bg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.sidebar {
    width: 500px;
    height: 95vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    position: relative;
    background-color: #FFFFFF;
}

.chat-container {
    width: 1000px;
    background-color: #FFFFFF;
    position: relative;
    height: 95vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.users-container {
    background-color: #FFFFFF;
    position: relative;
    height: 70vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.topbar {
    width: 800px;
    height: 80px;
    border: 3px dashed rgb(131, 53, 101);
}

.chat {
    background-image: url(../img/mine.jpg);
    height: 80vh;
}

.bell {
    background-color: #8EDAFC;
}

.bell-slash {
    width: 40px;
    background-color: white;
}

.box-chat {
    height: 30px;
    
}

.sent {
    background-color: #D5F9BA;
}

.received {
    background-color: #FFFFFF;
}

.user-img {
    width: 50px;
}




